/* Positionner la scène de manière responsive */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Conteneur pour afficher les informations */
#infos {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

#model-container {
    width: 100vw;
    height: 100vh;
}

/* Améliorer l'apparence des informations du modèle */
#infos h2 {
    margin-top: 0;
}

#infos p {
    margin: 5px 0;
}
